/*
  Created by: Waleed A. Afifi
  Email: waleed-afifi@windowslive.com
  GitHub: https://github.com/waleedafifi90
  LinkedIn: https://www.linkedin.com/in/walafifi/
*/

* {
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  width: 960px;
  margin: auto;
  background: #f9f9f9;
  height: 100vh;
  padding: 20px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.form-group {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.form-group label {
  width: 25%;
  font-weight: 700;
  display: inline-block;
}

.form-group input[type='text'], select {
  width: 75%;
  float: right;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 300ms;
}

.form-group input[type='text']:focus, select:focus {
  box-shadow: 0 0 8px #80c3cc;
  transform: box-shadow ease-in-out;
}

button {
  padding: 10px 30px;
  border: none;
  color: #fff;
  background: #80c3cc;
  cursor: pointer;
  float: right;
}

.previous-orders {
  text-align: center;
  margin-top: 20px;
}

.previous-orders h3 {
  font-size: 22px;
  font-weight: 700;
}